.achievements {
    margin-top: 75px;
    padding: 50px 0;
}
.achievements .contents {
    width: 1017px;
}
/* .achievements .row {
    margin: 0 24px;
} */
.achievements__heading {
    display: flex;
    align-items: center;
}
.achievements .achievements__info,
.achievements .achievements__block-img {
    width: 50%;
}
.achievements .achievements__block-img {
    position: relative;
}
.achievements .achievements__img {
    width: 400px;
    height: 460px;
    object-fit: cover;
    margin-left: auto;
    display: block;
    /* margin: 0 0 110px 120px; */
    border-radius: 12px;
    box-shadow: 40px 80px 155px 0px rgba(30, 103, 113, 0.03);
}
.achievements .achievements__trend {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 239px;
    padding: 45px 23px 41px 22px;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}
.achievements .achievements__trend .row {
    margin: 0;
}

.achievements .achievements__trend-value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.026rem;
}
.achievements .achievements__trend-desc {
    margin: 8px 0 26px 0;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.achievements .achievements__info {
    padding-left: 165px;
}
.achievements .separate {
    height: 1px;
    background-color: #e9e9e9;
}

.achievements .achievements__title {
    position: relative;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28;
    width: 269px;
}
.achievements .achievements__title::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}
.achievements .achievements__desc {
    width: 280px;
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}
.achievements__revenue {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.achievements__revenue-value {
    display: inline-block;
    margin-bottom: 22px;
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1;
}

.achievements__revenue-desc {
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

.trend__avatar-block {
    display: flex;
    gap: 14px 16px;
    flex-wrap: wrap;
    padding-top: 26px;
}

.trend__avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.1);
}
.trend__avatar + .trend__avatar {
    margin-left: calc(-5px - 3px);
}
