.achievements {
    margin-top: 75px;
    padding: 50px 0;
}
.achievements__heading {
    display: flex;
    align-items: center;
}

.achievements__heading-img {
    margin-bottom: 110px;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 40px 80px 155px 0px rgba(30, 103, 113, 0.03);
}

.achievements__heading-info {
    position: relative;
    margin-left: 165px;
}

.achievements__heading-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28;
    word-break: break-all;
    width: 269px;
}
.achievements__heading-title::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}
.achievements__heading-desc {
    width: 309px;
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}
.achievements .contents .row {
    margin: 0 24px;
}
.achievements__revenue-quatity {
    margin-bottom: 22px;
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1;
}

.achievements__revenue-type {
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}
