/* PC */
@media screen and (min-width: 992px) {
    .show-on-mobile,
    .navbar__close-btn,
    .drawer-menu,
    .navbar__toggle-menu {
        display: none;
    }
}
/* Tablet and Mobile */
@media screen and (max-width: 991.98px) {
    .header-top {
        padding-top: 0;
        top: 0;
    }
    .header-top .nav {
        display: none;
    }
    .navbar {
        position: relative;
    }
    .nav.open {
        display: block;
    }
    .navbar__close-btn,
    .navbar__toggle-menu {
        position: relative;
        width: 24px;
        color: #0d0c22;
    }
    .navbar__close-btn {
        display: none;
    }
    .navbar__logo-link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* =====Overlay====== */
    .overlay {
        position: fixed;
        inset: 6% 0 0 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease-in;
    }

    .overlay.open {
        opacity: 1;
        visibility: visible;
    }
    .drawer-menu {
        display: flex;
        position: fixed;
        top: 6%;
        left: 0;
        right: 0;
        background-color: #fff;
        transform: translateX(calc(-100%));
        transition: 0.5s ease;
        z-index: 2;
    }
    .overlay.open ~ .drawer-menu {
        transform: translateX(0);
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding: 24px 30px;
        gap: 24px;
    }
    .nav-mobile .nav-item-mobile {
        display: block;
        padding: 14px 0;
        font-weight: 600;
    }
    /* ======Introduce====== */
    .introduce__info {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }
    /* =====Evaluation===== */
    .evaluation__partner {
        flex-wrap: wrap;
        justify-content: center;
    }
    /* ======Properties====== */
    .properties__list {
        flex-direction: column;
    }
    /* =====Achievement====== */
    .achievements__row-top {
        flex-direction: column;
    }
    .achievements .achievements__info,
    .achievements .achievements__block-img {
        width: 100%;
    }
    .achievements .achievements__block-img {
        margin-top: 80px;
        order: 2;
    }
    .achievements .achievements__info {
        padding-left: 0;
        order: 1;
    }
    .achievements .achievements__title {
        width: 70%;
    }
    .achievements .achievements__desc {
        width: 100%;
    }
    .achievements__revenue-value {
        font-size: 5rem;
    }
    .subscription__home-ui {
        display: none;
    }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
    .introduce {
        --header-top-height: 64px;
        justify-content: flex-start;
    }
    .introduce__info {
        margin-top: 15px;
    }
    .introduce__description {
        margin-bottom: 20px;
    }
    .introduce .house-image {
        right: 50%;
        transform: translateX(50%);
    }
    .properties__feature {
        column-gap: 22px;
        justify-content: flex-start;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    :root {
        --header-top-height: 40px;
    }
    .hide-on-mobile {
        display: none;
    }
    .auth {
        display: none;
    }
    .drawer-menu {
        top: var(--header-top-height);
    }
    .overlay {
        inset: var(--header-top-height) 0 0 0;
    }
    .introduce__info {
        width: 100%;
    }
    .introduce .house-image {
        display: none;
    }
    .introduce__title {
        font-size: 4.4rem;
        margin: 14px 0 30px;
    }
    .guides__steps {
        flex-direction: column;
        row-gap: 40px;
    }
    .guides__more {
        margin-top: 60px;
    }
    .properties__more {
        display: none;
    }
    .properties__view-all {
        min-width: 170px;
        font-size: 1.3rem;
        font-weight: 500;
        color: #fff;
        background: #0f1b4c;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        border-radius: 12px;
        padding: 18.5px 25px;
        text-decoration: none;
    }
    .btn {
        width: 100%;
    }
    .achievements .achievements__block-img {
        margin-top: 40px;
    }
    .achievements .achievements__img,
    .achievements .achievements__title {
        width: 100%;
    }
    .achievements .achievements__trend {
        display: none;
    }
    .achievements__row-bottom {
        flex-direction: column;
    }
    .achievements__revenue {
        margin-top: 50px;
    }
    .subscription__body {
        height: auto;
    }
    .subscription__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 32px;
    }
    .subscription__title {
        font-size: 3.1rem;
    }
    .footer__row-top {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
    .footer .row {
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start;
    }
}
