/* PC */
@media screen and (min-width: 992px) {
    .show-on-mobile,
    .navbar__close-btn,
    .drawer-menu,
    .navbar__toggle-menu {
        display: none;
    }
}
/* Tablet and Mobile */
@media screen and (max-width: 991.98px) {
    .header-top {
        padding-top: 0;
        top: 0;
    }
    .header-top .nav {
        display: none;
    }
    .navbar {
        position: relative;
    }
    .nav.open {
        display: block;
    }
    .navbar__close-btn,
    .navbar__toggle-menu {
        position: relative;
        width: 24px;
        color: #0d0c22;
    }
    .navbar__close-btn {
        display: none;
    }
    .navbar__logo-link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* =====Overlay====== */
    .overlay {
        position: fixed;
        inset: 4% 0 0 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease-in;
    }

    .overlay.open {
        opacity: 1;
        visibility: visible;
    }
    .drawer-menu {
        display: flex;
        position: fixed;
        top: 4%;
        left: 0;
        right: 0;
        background-color: #fff;
        transform: translateX(calc(-100%));
        transition: 0.5s ease;
        z-index: 2;
    }
    .overlay.open ~ .drawer-menu {
        transform: translateX(0);
    }

    .nav-mobile {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding: 24px 30px;
        gap: 24px;
    }
    .nav-mobile .nav-item-mobile {
        display: block;
        padding: 14px 0;
        font-weight: 600;
    }
    /* ======Introduce====== */
    .introduce__info {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }
    /* =====Evaluation===== */
    .evaluation__partner {
        flex-wrap: wrap;
        justify-content: center;
    }
    /* ======Properties====== */
    .properties__list {
        flex-direction: column;
    }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
    .introduce {
        --header-top-height: 64px;

        justify-content: flex-start;
    }
    .introduce__info {
        margin-top: 15px;
    }
    .introduce__description {
        margin-bottom: 20px;
    }
    .introduce .house-image {
        right: 50%;
        transform: translateX(50%);
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .auth {
        display: none;
    }
    .drawer-menu {
        top: 1.9%;
    }
    .overlay {
        inset: 1.9% 0 0 0;
    }
    .introduce .house-image {
        display: none;
    }
}
