.subscription__body {
    position: relative;
    border-radius: 20px;
    background: #063183;
    margin-top: 51px;
    height: 409px;
}
.subscription__info {
    padding: 121px 90px 110px 80px;
    width: 671px;
    max-width: 100%;
}
.subscription__title {
    word-break: break-all;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.subscription__desc {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
    opacity: 0.75;
    margin: 15px 0 20px;
}

.subscription__btn {
    min-width: 151px;
    border-radius: 12px;
    background: #fff;
    color: #002366;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    padding: 18.5px 0;
}
.subscription__btn:hover {
    background-color: #f5fafe;
}
.subscription__home-ui {
    position: absolute;
    bottom: 0;
    left: 61%;
    height: 439px;
}
